{% extends "_layout.html" %}
{% block content %}
<h1>New User</h1>

<form action={{ url_for('create_user') }} method="POST" id="create_user">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" name="username_form" class="form-control" />


<label for="email">Email:</label>
<input type="email" name="email_form" class="form-control" />

<label for="password">Password:</label>
<input type="password" name="password_form" class="form-control" />

<button type="submit" class="btn btn-primary">Sign up as  BOSS!</button>

  </div>
</form>
{% endblock %}